@mixin fpo($bg-color:$color--blue, $content: 'FPO') {
  background-color: $bg-color;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:after {
    content: $content;
    color: #fff;
    font: 20px/1 Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

